@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  color: #fff;
  --font-color-secondary: #ffce00;
}

body {
  background-color: #000;
}

/* background images */

.bg-img img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

.hero .bg-img img {
  height: 90vh;
}

.action .bg-img img {
  height: 70vh;
}

/* sections */

section {
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.read-btn {
  border: none;
  background-color: var(--font-color-secondary);
  color: #000;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
}

/* hero */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header h1 {
  color: var(--font-color-secondary);
  font-size: 150px;
  font-weight: 900;
}

header p {
  color: var(--font-color-primary);
  font-size: 30px;
}

header i {
  font-size: 106px;
  color: var(--font-color-secondary);
}

/*action */
.action h2 {
  color: var(--font-color-secondary);
  font-weight: 800;
  font-size: 70px;
}

.action .container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.action .container .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action .container .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.action .container .right > p {
  margin-bottom: 10px;
}

.action .container .right button {
  align-self: flex-start;
  margin-top: 10px;
}

/* locations */

.locations .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations h2 {
  color: var(--font-color-secondary);
  font-weight: 800;
  font-size: 60px;
}

.locations .container button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.img-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 50px 0;
}

.img-cards .card-bg-img {
  width: 32%;
  margin: 0 20px;
  width: 400px;
  height: 500px;
}

.img-cards .card-bg-img img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.img-cards .card {
  position: relative;
}

.img-cards .card p {
  font-size: 24px;
  font-weight: 500;
  color: #ffce00;
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.img-cards i {
  font-size: 68px;
  bottom: 1%;
  left: 6%;
  color: #ffce00;
  position: absolute;
}
