@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair Display, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  color: #fff;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

/* background images */

.bg-img img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.72;
}

/* sections */

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.read-btn {
  border: none;
  background-color: #ffce00;
  color: #000;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
}

/* hero */

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header .logo {
  height: 10%;
}

header .logo img {
  height: 200px;
}

header h1 {
  color: #ffce00;
  font-size: 80px;
  font-weight: 900;
}

header p {
  color: var(--font-color-primary);
  font-size: 30px;
}

header i {
  font-size: 80px;
  color: #ffce00;
}

/*action */
.action {
  height: 80vh;
}

.action h2 {
  color: #ffce00;
  font-weight: 800;
  font-size: 60px;
}

.action .container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.action .container .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.action .container .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action .container .right > p {
  margin-bottom: 10px;
}

.action .container .right button {
  align-self: flex-start;
  margin-top: 10px;
}

/* locations */

.locations .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations h2 {
  color: #ffce00;
  font-weight: 800;
  font-size: 60px;
}

.locations .container button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.img-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 50px 0;
}

.img-cards .card {
  position: relative;
}

.img-cards .card .card-bg-img {
  width: 32%;
  margin: 0 20px;
  width: 400px;
  height: 500px;
  position: relative;
  background: #000;
}

/*gradient code retrived from https://stackoverflow.com/questions/19713813/fade-image-to-transparent-like-a-gradient */
.img-cards .card .card-bg-img img {
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
}

.img-cards .card p {
  font-size: 24px;
  font-weight: 500;
  color: #ffce00;
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.img-cards .card i {
  font-size: 68px;
  bottom: 1%;
  left: 6%;
  color: #ffce00;
  position: absolute;
}

/*tour info*/

.tour-info .bg-img {
  opacity: 0.6;
}

.tour-info .container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.tour-info .container .left {
  width: 50%;
  padding: 0 50px;
}

.tour-info .container .left h2 {
  color: #ffce00;
  font-weight: 800;
  font-size: 60px;
  text-align: left;
}

.tour-info .container .right {
  width: 50%;
  padding-right: 100px;
}

.tour-info .container .right h6 {
  font-size: 20px;
  line-height: 30px;
}

.tour-info .container .right p {
  font-size: 14px;
}

/*stats*/

.stats {
  height: 70vh;
}

.stats .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.stats .container .bubble {
  background: black;
  padding: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats .container .bubble h3 {
  color: #ffce00;
  font-weight: 700;
  font-size: 52px;
  text-align: left;
  line-height: 100px;
}

.stats .container .bubble p {
  text-transform: uppercase;
}

/*review*/

.review {
  height: 80vh;
}

.review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.review .container .portrait {
  height: 200px;
  border-radius: 50%;
}

.review .container q {
  text-align: center;
  font-size: 20px;
}

.review .container p {
  font-size: 24px;
  margin-top: 15px;
}

.review .container i {
  font-size: 106px;
  color: #ffce00;
}

/*gallery*/

.gallery .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery .container .img-container {
  width: 100%;
  height: 100%;
}

.gallery .container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/*contact*/

.contact {
  height: 60vh;
}

.contact .container {
  display: flex;
  width: 80%;
  height: 80%;
}

.contact .container .left {
  width: 50%;
}

.contact .container .left h2 {
  color: #ffce00;
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 40px;
}

.contact .container .left ul {
  list-style: none;
  font-size: 20px;
}

.contact .container .left .social {
  margin-top: 30px;
}

.contact .container .left .social i {
  font-size: 38px;
  color: #ffce00;
}

.contact .container .right {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: top;
}

.contact .container .right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact .container .right form input {
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  border: rgba(255, 255, 255, 0.5) solid 3px;
  border-radius: 5px;
}

.contact .container .right form #name,
.contact .container .right form #email {
  padding: 10px;
  width: 500px;
}

.contact .container .right form #message {
  padding: 10px;
  width: 500px;
  height: 150px;
  padding-bottom: 118px;
}

.contact .container .right form .submit-btn {
  border: none;
  border-radius: 0;
  background-color: #ffce00;
  color: #000;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start;
}

/*footer*/

footer {
  padding: 20px;
}

footer p {
  color: #ffce00;
}
